.hover {
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 6px 3px #fff;
  }
}

.empty {
  width: 86px;
  height: 130px;
  border: 1px dashed #f8f9fa;
  border-radius: 5%;
}

.back {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/deck.png');
  background-size: 86px 130px;
  background-repeat: no-repeat;
}

.spade-a {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: 0 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-2 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-3 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 2) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-4 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 3) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-5 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 4) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-6 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 5) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-7 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 6) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-8 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 7) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-9 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 8) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-10 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 9) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}


.spade-j {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 10) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-q {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 11) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.spade-k {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 12) 0;
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}


.heart-a {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: 0 calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-2 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-3 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 2) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-4 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 3) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-5 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 4) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-6 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 5) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-7 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 6) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-8 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 7) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-9 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 8) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-10 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 9) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}


.heart-j {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 10) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-q {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 11) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.heart-k {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 12) calc(-519px / 4);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-a {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: 0 calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-2 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-3 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 2) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-4 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 3) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-5 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 4) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-6 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 5) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-7 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 6) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-8 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 7) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-9 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 8) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-10 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 9) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-j {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 10) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-q {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 11) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.diamond-k {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 12) calc(-519px / 4 * 2);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-a {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: 0 calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-2 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-3 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 2) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-4 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 3) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-5 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 4) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-6 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 5) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-7 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 6) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-8 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 7) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-9 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 8) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-10 {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 9) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}


.club-j {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 10) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-q {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 11) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}

.club-k {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/cards.png');
  background-position: calc(-1125px / 13 * 12) calc(-519px / 4 * 3);
  background-size: 1125px 519px;
  background-repeat: no-repeat;
}